.home1 {
  background-color: black;
  height: 1.5pc;
  opacity: 60%;
  align-items: center;
  padding: 0.4pc;
  width: 89.8pc;
  position: absolute;
  margin-top: -36.5pc;
  display: flex;
  justify-content: center;
  /* margin-left: 1pc; */
  color: white;
  position: sticky;
  inset: 0;
  gap: 1.2pc;
}
.home1 a {
  color: white;
}

/* .sub-header, .sub-header .sub-header-top {
    height: 36px;
    margin: 0 auto;
    min-width: 1200px;
}
.sub-header {
    font-size: 14px;
    max-width: 1580px;
    overflow: hidden;
} */

/* :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ; */

.home {
  position: absolute;
}
.home h2 {
  color: white;
  font-size: 3pc;
  flex-wrap: wrap;
  z-index: 1;
  margin-top: -30pc;
  margin-left: 10pc;
}
.bg {
  position: relative;
  margin-top: -1.4pc;
  background-color: black;
  height: 35pc;
  width: 1448px;
  opacity: 60%;
}
.home input {
  display: flex;
  justify-content: center;
  height: 4pc;
  width: 50pc;
  font-size: 1.4pc;
  margin-left: 10pc;
  margin-top: 4pc;
  border-radius: 2pc;
  padding-left: 1pc;
  border: none;
}
.home button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 143, 237);
  color: white;
  font-size: 25px;
  height: 3.2pc;
  width: 10pc;
  margin-left: 50.6pc;
  margin-top: -3.7pc;
  border-radius: 10pc;
  gap: 1pc;
  border: none;
}

/* section/////////////////////////////////// */
.section1 {
  display: flex;
  justify-content: center;
  padding: 4pc;
  gap: 3pc;
  height: 30pc;
  .block {
    background-color: rgb(17, 46, 237);
    border-radius: 10px;
    padding: 1.1pc;
    height: 30pc;
    width: 33pc;
    cursor: pointer;
  }
  .block:hover {
    background-color: rgb(28, 81, 241);
  }
  .block img {
    width: 5pc;
    height: 5pc;
  }
  .block h2 {
    font-size: 1.7pc;
    margin-top: 1pc;
    color: white;
  }
  .block p {
    line-height: 1.6pc;
    margin-top: 1.5pc;
    font-size: 18px;
    color: white;
  }
  .block1 {
    background-color: rgb(17, 46, 237);
    /* rgb(31, 58, 231) */
    border-radius: 10px;
    padding: 1.1pc;
    height: 30pc;
    width: 33pc;
    cursor: pointer;
  }
  .block1:hover {
    background-color: rgb(28, 81, 241);
  }
  .block1 img {
    width: 5pc;
    height: 5pc;
  }
  .block1 h2 {
    font-size: 1.7pc;
    margin-top: 1pc;
    color: white;
  }
  .block1 p {
    line-height: 1.6pc;
    margin-top: 1.5pc;
    font-size: 18px;

    color: white;
  }
  .block2 {
    background-color: rgb(17, 46, 237);
    border-radius: 10px;
    padding: 1.1pc;
    height: 30pc;
    width: 33pc;
    cursor: pointer;
    color: white;
  }
  .block2:hover {
    background-color: rgb(28, 81, 241);
  }
  .block2 img {
    width: 5pc;
    height: 5pc;
  }
  .block2 h2 {
    font-size: 1.7pc;
    margin-top: 1pc;

    color: white;
  }
  .block2 p {
    line-height: 1.6pc;
    margin-top: 1.5pc;
    font-size: 18px;

    color: white;
  }
  .block3 {
    background-color: rgb(17, 46, 237);
    border-radius: 10px;
    padding: 1.1pc;
    height: 30pc;
    width: 33pc;
    cursor: pointer;
  }
  .block3:hover {
    background-color: rgb(28, 81, 241);
  }
  .block3 img {
    width: 5pc;
    height: 5pc;
  }
  .block3 h2 {
    font-size: 1.7pc;
    margin-top: 1pc;

    color: white;
  }
  .block3 p {
    line-height: 1.6pc;
    margin-top: 1.5pc;
    font-size: 18px;

    color: white;
  }
}

.section2 {
  margin-top: 2pc;
  display: flex;
  justify-content: center;
  align-items: center;
  .page {
    display: flex;
    gap: 2pc;
  }
  .page h1 {
    font-size: 2.3pc;
    margin-left: -1pc;
    margin-top: 1.5pc;
  }
  .divnow1 {
    display: flex;
    margin-top: 1pc;
  }
  .borderr {
    width: 4px;
    height: 80px;
    background: #3c3c3c;
    margin: 0px 30px;
  }
  .left1 span {
    display: flex;
  }
  .left1 p {
    font-size: 1.3pc;
    color: brown;
  }
  .left1 h2 {
    font-size: 2pc;
    color: rgb(27, 143, 237);
  }

  .left1 h3 {
    margin-top: 1.5pc;
    font-size: 2.4pc;
    color: rgb(27, 143, 237);
  }
  .left2 {
    margin-left: 22pc;
    margin-top: -13pc;
  }
  .left1 h4 {
    font-size: 1.7pc;
    color: rgb(27, 143, 237);
  }
  .left1 h5 {
    margin-top: 2pc;
    font-size: 2.4pc;
    color: rgb(27, 143, 237);
  }
}
/* section 3////////////////////////////////////////// /// */
.section3 {
  margin-top: 10pc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 200;
  text-align: center;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3pc;
  color: black;

  img {
    width: 4pc;
    height: 4pc;
    /* margin-left: -1pc; */
  }
  .part1 {
    height: 40px;
    width: 40px;
    font-size: 15px;
    border: solid 2px rgb(189, 186, 186);
    padding: 3pc;
    border-radius: 100pc;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
  }
  .part1:hover {
    border: solid 2px blue;
    font-weight: 600;
  }
  .part2 {
    height: 40px;
    width: 40px;
    font-size: 15px;
    border: solid 2px rgb(189, 186, 186);
    padding: 3pc;
    border-radius: 100pc;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
  }
  .part2:hover {
    border: solid 2px blue;
    font-weight: 600;
  }

  .part3 {
    height: 40px;
    width: 40px;
    font-size: 15px;
    border: solid 2px rgb(189, 186, 186);
    padding: 3pc;
    border-radius: 100pc;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
  }
  .part3:hover {
    border: solid 2px blue;
    font-weight: 600;
  }
  .part4 {
    height: 40px;
    width: 40px;
    font-size: 15px;
    border: solid 2px rgb(189, 186, 186);
    padding: 3pc;
    border-radius: 100pc;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
  }
  .part4:hover {
    border: solid 2px blue;
    font-weight: 600;
  }
}

.category2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  margin-top: 30pc;
  margin-left: -67pc;
  gap: 3pc;
  img {
    width: 4pc;
    height: 4pc;
    /* margin-left: -1pc; */
  }
  .part6 {
    height: 40px;
    width: 40px;
    font-size: 15px;
    border: solid 2px rgb(189, 186, 186);
    padding: 3pc;
    border-radius: 100pc;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
  }
  .part6:hover {
    border: solid 2px rgb(28, 81, 241);
    font-weight: 600;
  }
  .part7 {
    height: 40px;
    width: 40px;
    font-size: 15px;
    border: solid 2px rgb(189, 186, 186);
    padding: 3pc;
    border-radius: 100pc;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
  }
  .part7:hover {
    border: solid 2px rgb(28, 81, 241);
    font-weight: 600;
  }
  .part8 {
    height: 40px;
    width: 40px;
    font-size: 15px;
    border: solid 2px rgb(189, 186, 186);
    padding: 3pc;
    border-radius: 100pc;
    align-items: center;
    display: flex;
    color: black;

    justify-content: center;
    flex-direction: column;
  }
  .part8:hover {
    border: solid 2px rgb(28, 81, 241);
    font-weight: 600;
  }
  .part9 {
    height: 40px;
    width: 40px;
    font-size: 15px;
    border: solid 2px rgb(189, 186, 186);
    padding: 3pc;
    border-radius: 100pc;
    align-items: center;
    display: flex;
    justify-content: center;
    color: black;

    flex-direction: column;
  }
  .part9:hover {
    border: solid 2px rgb(28, 81, 241);
    font-weight: 600;
  }
}
.part10 {
  height: 40px;
  width: 40px;
  font-size: 15px;
  border: solid 2px rgb(189, 186, 186);
  padding: 3pc;
  border-radius: 100pc;
  align-items: center;
  display: flex;
  color: black;

  justify-content: center;
  flex-direction: column;
}
.part10:hover {
  border: solid 2px rgb(28, 81, 241);
  font-weight: 600;
}
.part5 {
  height: 40px;
  width: 40px;
  font-size: 15px;
  border: solid 2px rgb(189, 186, 186);
  padding: 3pc;
  border-radius: 100pc;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
}
.part5:hover {
  border: solid 2px rgb(28, 81, 241);
  font-weight: 600;
}
/* End/////////////////////////////////////////////////d */

/* section4//////////////////////////////////////////////// */
.section4 {
  justify-content: center;
  align-items: center;
}
.shops {
  padding: 0.1pc;
}
.shops h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 200;
  margin-top: -4pc;
  gap: 1.5pc;
}
.shops span {
  font-size: 2pc;
  font-weight: 500;
  margin-top: -0.5pc;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-top: 7pc;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(190, 187, 187);
  border-radius: 20px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 1pc;
  background-position: center;
  object-fit: cover;
  /* padding: 10px; */
}
.swipers1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}
