#header {
  background-color: black;
  width: 1449px;
  height: 7.5pc;
}
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero h1 {
  margin-left: 2pc;
  color: white;
}
.hero h2 {
  font-size: 1.1pc;
  color: white;
}
.hero button {
  font-size: 1.2pc;
  margin-left: -6pc;
  color: white;
  background-color: black;
  border: none;
}
.hero h4 {
  font-size: 2pc;
  margin-left: 40pc;
  color: white;
}
.hero h3 {
  font-size: 1.2pc;
  font-weight: 400;
}
