#header {
  background-color: black;
  width: 1449px;
  height: 7.5pc;
}
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero h1 {
  margin-left: 2pc;
  color: white;
}
.hero h2 {
  font-size: 1.1pc;
  color: white;
}
.hero button {
  font-size: 1.2pc;
  margin-left: -6pc;
  color: white;
  background-color: black;
  border: none;
}
.hero h4 {
  font-size: 2pc;
  margin-left: 40pc;
  color: white;
}
.hero h3 {
  font-size: 1.2pc;
  font-weight: 400;
}
.type2 {
  display: flex;
  justify-content: center;
  background-color: cyan;
  height: 3pc;
  width: 18.4pc;
  border-radius: 30px;
  font-size: 1.3pc;
  align-items: center;
}
.type2:hover {
  background: blue;
  color: white;
}
.facebook:hover {
  color: rgb(34, 161, 200);
}
.type3 {
  display: flex;
  justify-content: center;
  background-color: cyan;
  height: 3pc;
  width: 18.4pc;
  border-radius: 10px;
  font-size: 1.3pc;
  align-items: center;
}
.type3:hover {
  background: blue;
  color: white;
}
