* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding: 1.4pc 0;
}

a {
  text-decoration: none;
}
#header {
  font-family: sans-serif;
  text-decoration: none;
  h4 {
    font-family: sans-serif;
    text-decoration: none;
  }
  h5 {
    font-family: sans-serif;
    text-decoration: none;
  }
  h6 {
    font-family: sans-serif;
    text-decoration: none;
  }
  h1 {
    font-family: sans-serif;
    text-decoration: none;
  }
  h2 {
    font-family: sans-serif;
    text-decoration: none;
  }
}
